@font-face {
    font-family: 'Source Code Pro Light';
    font-style: normal;
    font-weight: 200;
    src: local('Source Code Pro ExtraLight'), local('SourceCodePro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqa75IummwlcTZ6TErNfIMqg.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqUzfSP8PFPIaW8d4wHl9LSw.woff) format('woff');
}
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD-gEI-65pc1uHHusEBt4aX4.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasDzLXPPWpYIJRcQ99gLLWTOQ.woff) format('woff');
}
@font-face {
    font-family: 'Source Code Pro Bold';
    font-style: normal;
    font-weight: 600;
    src: local('Source Code Pro Semibold'), local('SourceCodePro-Semibold'), url(https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqUAATFwtyNJqqiIHeW28dh0.woff2) format('woff2'), url(https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqdF2eBBnhZOFf_rblGEjGiI.woff) format('woff');
}

* {
    font-family: 'Source Code Pro', normal;
}

code {
    font-family: 'Source Code Pro Bold', normal;
}

.tag {
    font-family: 'Source Code Pro', normal;
}

.top_ele {
    font-family: 'Source Code Pro Bold', normal;
}
